parameters:
    darvin_image.image.creator.class: Darvin\ImageBundle\ImageCreator\ImageCreator

    darvin_image.image.form_type.class: Darvin\ImageBundle\Form\Type\ImageType

services:
    darvin_image.image.creator:
        class: %darvin_image.image.creator.class%
        arguments:
            - "@liip_imagine.cache.manager"
            - "@liip_imagine.data.manager"
            - "@liip_imagine.filter.manager"
            - %darvin_image.imagine_filter%
            - %darvin_image.upload_path%
            - %secret%

    darvin_image.image.form_type:
        class: %darvin_image.image.form_type.class%
        tags:
            - { name: form.type, alias: darvin_image_image }
