parameters:
    darvin_image.url_builder.builder.class: Darvin\ImageBundle\UrlBuilder\UrlBuilder

    darvin_image.url_builder.filter.direct_imagine.class: Darvin\ImageBundle\UrlBuilder\Filter\DirectImagineFilter

    darvin_image.url_builder.twig_extension.class: Darvin\ImageBundle\Twig\Extension\UrlBuilderExtension

services:
    _defaults:
        public: true

    darvin_image.url_builder.builder:
        class: '%darvin_image.url_builder.builder.class%'
        arguments:
            - '@request_stack'
            - '@vich_uploader.storage'
            - '%darvin_image.placeholder%'

    darvin_image.url_builder.filter.direct_imagine:
        class: '%darvin_image.url_builder.filter.direct_imagine.class%'
        arguments:
            - '@liip_imagine.cache.manager'
        tags:
            - { name: darvin_image.url_builder_filter }

    darvin_image.url_builder.twig_extension:
        class:  '%darvin_image.url_builder.twig_extension.class%'
        public: false
        arguments:
            - '@logger'
            - '@darvin_image.url_builder.builder'
        tags:
            - { name: twig.extension }
