parameters:
    darvin_image.url_builder.builder.class: Darvin\ImageBundle\UrlBuilder\UrlBuilder

    darvin_image.url_builder.filter.resize.class: Darvin\ImageBundle\UrlBuilder\Filter\ResizeFilter

    darvin_image.url_builder.twig_extension.class: Darvin\ImageBundle\Twig\Extension\UrlBuilderExtension

services:
    darvin_image.url_builder.filter.resize:
        class: "%darvin_image.url_builder.filter.resize.class%"
        arguments:
            - "@liip_imagine.filter.manager"
            - "@darvin_image.image.creator"
        tags:
            - { name: darvin_image.url_builder_filter }

    darvin_image.url_builder.builder:
        class: "%darvin_image.url_builder.builder.class%"
        arguments:
            - "@request_stack"
            - "@darvin_image.size.resolver.pool"
            - "@vich_uploader.storage"

    darvin_image.url_builder.twig_extension:
        class:  "%darvin_image.url_builder.twig_extension.class%"
        public: false
        arguments:
            - "@darvin_image.url_builder.builder"
        tags:
            - { name: twig.extension }
