parameters:
    darvin_image.archive.twig.extension.class: Darvin\ImageBundle\Twig\Extension\ArchiveExtension

services:
    darvin_image.archive.twig.extension:
        class: '%darvin_image.archive.twig.extension.class%'
        arguments:
            - '@?darvin_file.archive.form.factory'
        tags:
            - { name: twig.extension }
        deprecated:
            message: 'Archive Twig extension "%alias_id%" is deprecated. Use "darvin_file.archive.twig.extension" instead.'
            package: 'darvinstudio/darvin-image-bundle'
            version: '8.0.0'
