parameters:
    darvin_image.image.controller.abstract.class:    Darvin\ImageBundle\Controller\Image\AbstractImageController
    darvin_image.image.controller.delete.class:      Darvin\ImageBundle\Controller\Image\DeleteController
    darvin_image.image.controller.disable.class:     Darvin\ImageBundle\Controller\Image\DisableController
    darvin_image.image.controller.edit.class:        Darvin\ImageBundle\Controller\Image\EditController
    darvin_image.image.controller.enable.class:      Darvin\ImageBundle\Controller\Image\EnableController
    darvin_image.image.controller.exterminate.class: Darvin\ImageBundle\Controller\Image\ExterminateController
    darvin_image.image.controller.sort.class:        Darvin\ImageBundle\Controller\Image\SortController

    darvin_image.image.copy_cloned_file_event_subscriber.class: Darvin\ImageBundle\EventListener\CopyClonedImageFileSubscriber

    darvin_image.image.edit_form_type.class: Darvin\ImageBundle\Form\Type\ImageEditType

    darvin_image.image.form_type.class: Darvin\ImageBundle\Form\Type\ImageType

    darvin_image.image.rename_event_subscriber.class:   Darvin\ImageBundle\EventListener\RenameImageSubscriber
    darvin_image.image.rename_event_subscriber.tmp_dir: '%darvin_image.tmp_dir%/renamed'

    darvin_image.image.twig_extension.class: Darvin\ImageBundle\Twig\Extension\ImageExtension

    darvin_image.image.update_properties_event_subscriber.class: Darvin\ImageBundle\EventListener\UpdateImagePropertiesSubscriber

services:
    darvin_image.image.controller.abstract:
        class:    '%darvin_image.image.controller.abstract.class%'
        abstract: true
        calls:
            - [ setEntityManager, [ '@doctrine.orm.entity_manager' ] ]

    darvin_image.image.controller.delete:
        class:  '%darvin_image.image.controller.delete.class%'
        parent: darvin_image.image.controller.abstract
        tags:
            - { name: controller.service_arguments }

    darvin_image.image.controller.disable:
        class:  '%darvin_image.image.controller.disable.class%'
        parent: darvin_image.image.controller.abstract
        tags:
            - { name: controller.service_arguments }

    darvin_image.image.controller.edit:
        class:  '%darvin_image.image.controller.edit.class%'
        parent: darvin_image.image.controller.abstract
        arguments:
            - '@darvin_utils.flash.notifier'
            - '@form.factory'
            - '@router'
            - '@translator'
            - '@twig'
            - '%darvin_image.action.edit.template.full%'
            - '%darvin_image.action.edit.template.partial%'
        tags:
            - { name: controller.service_arguments }

    darvin_image.image.controller.enable:
        class:  '%darvin_image.image.controller.enable.class%'
        parent: darvin_image.image.controller.abstract
        tags:
            - { name: controller.service_arguments }

    darvin_image.image.controller.exterminate:
        class:  '%darvin_image.image.controller.exterminate.class%'
        parent: darvin_image.image.controller.abstract
        tags:
            - { name: controller.service_arguments }

    darvin_image.image.controller.sort:
        class:  '%darvin_image.image.controller.sort.class%'
        parent: darvin_image.image.controller.abstract
        tags:
            - { name: controller.service_arguments }

    darvin_image.image.copy_cloned_file_event_subscriber:
        class: '%darvin_image.image.copy_cloned_file_event_subscriber.class%'
        tags:
            - { name: kernel.event_subscriber }

    darvin_image.image.edit_form_type:
        class: '%darvin_image.image.edit_form_type.class%'
        arguments:
            - '@darvin_utils.object_namer'
            - '@translator'
            - '%darvin_image.action.edit.fields%'
            - '%darvin_image.action.edit.translation_domain%'
        tags:
            - { name: form.type }

    darvin_image.image.form_type:
        class: '%darvin_image.image.form_type.class%'
        arguments:
            - '@darvin_image.size.describer'
            - '%darvin_image.upload_max_size_mb%'
        tags:
            - { name: form.type }

    darvin_image.image.rename_event_subscriber:
        class: '%darvin_image.image.rename_event_subscriber.class%'
        arguments:
            - '@filesystem'
            - '@vich_uploader.storage'
            - '%darvin_image.image.rename_event_subscriber.tmp_dir%'
        tags:
            - { name: doctrine.event_subscriber }

    darvin_image.image.twig_extension:
        class: '%darvin_image.image.twig_extension.class%'
        tags:
            - { name: twig.extension }

    darvin_image.image.update_properties_event_subscriber:
        class: '%darvin_image.image.update_properties_event_subscriber.class%'
        tags:
            - { name: kernel.event_subscriber }
