parameters:
    darvin_image.imagine.cache_resolver.class: Darvin\ImageBundle\Imagine\Cache\Resolver\Resolver

    darvin_image.imagine.cache_warmer.class: Darvin\ImageBundle\Imagine\Cache\ImagineCacheWarmer

    darvin_image.imagine.cleanup_cache_event_subscriber.class: Darvin\ImageBundle\EventListener\CleanupImagineCacheSubscriber

    darvin_image.imagine.warmup_cache_command.class:      Darvin\ImageBundle\Command\WarmupImagineCacheCommand
    darvin_image.imagine.warmup_cache_command.name:       darvin:image:cache:warmup
    darvin_image.imagine.warmup_cache_command.chunk_size: 50

    darvin_image.imagine.warmup_cache_event_subscriber.class: Darvin\ImageBundle\EventListener\WarmupImagineCacheSubscriber

services:
    darvin_image.imagine.cache_resolver:
        class: '%darvin_image.imagine.cache_resolver.class%'
        arguments:
            - '@filesystem'
            - '@router.request_context'
            - '%darvin_image.imagine.cache_resolver.web_root%'
            - '%darvin_image.imagine.cache_resolver.cache_prefix%'
        calls:
            - [ setOutputFormats, [ '%darvin_image.output_formats%' ] ]
        tags:
            - { name: liip_imagine.cache.resolver, resolver: darvin_image_custom }

    darvin_image.imagine.cache_warmer:
        class: '%darvin_image.imagine.cache_warmer.class%'
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@liip_imagine.cache.manager'
            - '@liip_imagine.data.manager'
            - '@liip_imagine.filter.manager'
            - '@vich_uploader.property_mapping_factory'
            - '@vich_uploader.storage'
            - '%darvin_image.imagine.filter_sets%'

    darvin_image.imagine.cleanup_cache_event_subscriber:
        class: '%darvin_image.imagine.cleanup_cache_event_subscriber.class%'
        arguments:
            - '@liip_imagine.cache.manager'
            - '@liip_imagine.filter.manager'
            - '@vich_uploader.storage'
        tags:
            - { name: doctrine.event_subscriber }

    darvin_image.imagine.warmup_cache_command:
        class: '%darvin_image.imagine.warmup_cache_command.class%'
        arguments:
            - '%darvin_image.imagine.warmup_cache_command.name%'
            - '@doctrine.orm.entity_manager'
            - '@darvin_image.imagine.cache_warmer'
            - '%darvin_image.imagine.warmup_cache_command.chunk_size%'
        tags:
            - { name: console.command }

    darvin_image.imagine.warmup_cache_event_subscriber:
        class: '%darvin_image.imagine.warmup_cache_event_subscriber.class%'
        arguments:
            - '@darvin_image.imagine.cache_warmer'
        tags:
            - { name: kernel.event_subscriber }
