parameters:
    darvin_image.url_builder.builder.class: Darvin\ImageBundle\UrlBuilder\UrlBuilder

    darvin_image.url_builder.filter.direct_imagine.class: Darvin\ImageBundle\UrlBuilder\Filter\DirectImagineFilter

    darvin_image.url_builder.twig.extension.class: Darvin\ImageBundle\Twig\Extension\UrlBuilderExtension

services:
    darvin_image.url_builder.builder:
        class: '%darvin_image.url_builder.builder.class%'
        arguments:
            - '@darvin_file.url_builder.builder'
            - '@darvin_file.url_builder.url_absolutizer'
            - '%darvin_image.placeholder%'

    darvin_image.url_builder.filter.direct_imagine:
        class: '%darvin_image.url_builder.filter.direct_imagine.class%'
        arguments:
            - '@liip_imagine.cache.manager'
        tags:
            - { name: darvin_image.url_builder_filter }

    darvin_image.url_builder.twig.extension:
        class: '%darvin_image.url_builder.twig.extension.class%'
        arguments:
            - '@logger'
            - '@darvin_image.url_builder.builder'
        tags:
            - { name: twig.extension }
